@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --lightHover: #fcf4ff;
  --darkHover: #2a004a;

  /* --font-Outfit: "Outfit", sans-serif; */
  /* --font-Ovo: "Ovo", serif; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --font-Outfit: var(--font-Outfit);
  --font-Ovo: var(--font-Ovo);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));

  /* darkmode: selector; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
